In [1]:
import pandas as pd

In [14]:
#Create a list of user name, and their favorite foods.
#The list for each user can go across multiple rows.
users = ['bart', 'bart', 'lisa', 'lisa', 'homer', 'homer', 'marge', 'maggie']
favfood = [['gum', 'chicken', 'ice cream'], ['kit kat', 'peanut butter'],
           ['broccoli', 'cucumber', 'ice cream'], ['salad', 'beets', 'spaghetti'],
           ['donut', 'doh beer', 'chicken'], ['cake', 'kit kat'],
           ['broccoli', 'spaghetti', 'pineapple'],
           ['milk', 'ice cream', 'apple sauce']]

In [15]:
df = pd.DataFrame({'user': users, 'favfood': favfood})

In [16]:
df.head(10)

     user                           favfood
0    bart         [gum, chicken, ice cream]
1    bart          [kit kat, peanut butter]
2    lisa   [broccoli, cucumber, ice cream]
3    lisa         [salad, beets, spaghetti]
4   homer        [donut, doh beer, chicken]
5   homer                   [cake, kit kat]
6   marge  [broccoli, spaghetti, pineapple]
7  maggie    [milk, ice cream, apple sauce]

In [18]:
#Now, I want to group together, the list of foods that each user likes, as a set
from functools import reduce      # If you're on Py3k

In [22]:
df['favfoodset'] = df['favfood'].apply(set)

In [23]:
df.head()

    user                          favfood                       favfoodset
0   bart        [gum, chicken, ice cream]        {chicken, ice cream, gum}
1   bart         [kit kat, peanut butter]         {kit kat, peanut butter}
2   lisa  [broccoli, cucumber, ice cream]  {ice cream, broccoli, cucumber}
3   lisa        [salad, beets, spaghetti]        {spaghetti, beets, salad}
4  homer       [donut, doh beer, chicken]       {chicken, donut, doh beer}

In [27]:
reduce(set.union, df['favfoodset'].tolist())

{'apple sauce',
 'beets',
 'broccoli',
 'cake',
 'chicken',
 'cucumber',
 'doh beer',
 'donut',
 'gum',
 'ice cream',
 'kit kat',
 'milk',
 'peanut butter',
 'pineapple',
 'salad',
 'spaghetti'}

In [36]:
grouped = df.groupby(['user'])
my_lambda = lambda x: reduce(set.union, x)
output = grouped.aggregate({'favfoodset': my_lambda})

In [34]:
output

                                               favfoodset
user
bart    {kit kat, ice cream, chicken, peanut butter, gum}
homer           {kit kat, cake, chicken, donut, doh beer}
lisa    {ice cream, spaghetti, broccoli, beets, salad,...
maggie                     {apple sauce, ice cream, milk}
marge                    {pineapple, spaghetti, broccoli}