In [4]:
import random
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [5]:
# Here are what the bot needs to do.
# For the first 10 games, just do random. Not much we can do.

# From the 10 game on, we use the previous 5 matches, to predict the next one. So by game 10, basically we have 1-5, 2-6...6-10,
# as training data, and we use it to predict game 11. We will just use this bot until the 20th game, and re-evaluate.

# From the 20th game on, we compare this vs random. We will get a score for each of the previous 10 matches, between this bot,
# and random. Whoever does better in the last 10, we will use his prediction. If it's a tie we use the bot.

my_plays = []
computer_plays = []

def sliding_win(observation, configuration):
    global my_plays, computer_plays
    
    shoot = 0
    
    if observation.step < 10:
        shoot = np.random.randint(0,3)
        my_plays.append(shoot)
        if observation.step > 0:
            computer_plays.append(observation.lastOpponentAction)
        
    
    if observation.step > 0:
        print("Me: ", my_plays)
        print("Computer: ", computer_plays)
        
    return shoot

In [10]:
computer_plays = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
prevX = 5
trainData = []

In [11]:
for i in range(0,len(computer_plays) - prevX):
    curr_data = computer_plays[i:i+prevX+1]
    trainData.append(curr_data)
    print(curr_data)

[0, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]

In [17]:
df = pd.DataFrame(trainData)
colnames = []
for i in range(0,prevX):
    colnames.append("Prev " + str(prevX - i))
colnames.append("target")
df.columns = colnames

In [18]:
df.head(20)

   Prev 5  Prev 4  Prev 3  Prev 2  Prev 1  target
0       0       1       2       3       4       5
1       1       2       3       4       5       6
2       2       3       4       5       6       7
3       3       4       5       6       7       8
4       4       5       6       7       8       9
5       5       6       7       8       9      10

In [20]:
int(len(df) * 0.7)

4

In [21]:
train_df = df.iloc[0:int(len(df) * 0.7)]

In [25]:
test_df = df.iloc[int(len(df) * 0.7):]

In [26]:
train_df

   Prev 5  Prev 4  Prev 3  Prev 2  Prev 1  target
0       0       1       2       3       4       5
1       1       2       3       4       5       6
2       2       3       4       5       6       7
3       3       4       5       6       7       8

In [27]:
test_df

   Prev 5  Prev 4  Prev 3  Prev 2  Prev 1  target
4       4       5       6       7       8       9
5       5       6       7       8       9      10

In [46]:
test_df

   Prev 5  Prev 4  Prev 3  Prev 2  Prev 1  target
4       4       5       6       7       8       9
5       5       6       7       8       9      10

In [48]:
computer_plays[-prevX:]

[6, 7, 8, 9, 10]

In [56]:
final_df = pd.DataFrame([computer_plays[-prevX:]])
final_df.columns = colnames[0:-1]
final_df

   Prev 5  Prev 4  Prev 3  Prev 2  Prev 1
0       6       7       8       9      10